@keyframes subPageAnimation
{
  from { transform: translateX(50%) }
  to { transform: translateX(0) }
}

@keyframes hidingDisplay
{
  0% { transform: translateX(0) }
  99% { transform: translateX(0) }
  100% { transform: translateX(100000)}
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Coda';
  text-shadow: 1px -1px 3px #efdbc7d9;
}

.step {
  font-family: 'Coda';
  font-size: 1.4em;
}

/*main header*/
.step>header {
  border-bottom:1.5px solid grey;
  font-weight: 900;
}
.step>header>div:first-child {
  font-size: 3.5em;
}

.step>header>h1,
  .step>header>div:last-child {
  font-size: 1.8em;
}

.step>header>h2 {
  font-size: 1em;
}


.step>section {
  width: 100%;
  overflow: visible;
}

/*section with aside*/
.withAside {
  display: inline-flex;
}

.withAside>article>h6 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: green;
  margin-bottom: 30px;
  margin-left: -30px;
}

.step aside {
  width: 32%;
  background-color: rgba(233, 135, 60, 0.37);
  padding: 10px;
  font-size: 0.9em;
  text-shadow: none
}

.step aside img{
  width: 70%;
  margin: 19px auto;
}

.step aside h6 {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.step aside .asideSection,
.deviceStep .asideSection {
  text-align: left;
}

.step aside .asideSection div:first-child,
.deviceStep .asideSection div:first-child {
  text-transform: uppercase;
  font-size: 0.9em;
  color: green;
}

.step .withAside article {
  width: 400px;
  margin-left: 10%;
  margin-right: 10%;
}

.secondExperience,
.thirdExperience {
  position: relative;
}

.secondExperience>section {
  position: absolute;
  top: -208px;
  left: 122px;
}

.thirdExperience>section {
  position: absolute;
  top: -235px;
  left: 125px;
}


/*section*/
.step>section>h1 {
  float: left;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 3em;
  border-left: 1.5px solid grey;
  height: 600px;
  font-weight: 900;
  transition: all .8s;
}


.step>section.doubledHeader>h1 {
  margin-right: 20px;

}

.halfArticle {
   width: 75%;
}

.step section .bold {
  font-weight: bold;
}

.step section.withLeftHeader>article {
  margin-left: 20px;
}

.step section.withLeftHeader>h1>div:last-child {
  font-size: 0.5em;
}

.step section.withLeftHeader>article {
  width: 76%;
}

.step section.singleHeader>article {
  width: 80%;
}

.step>section.doubledHeader>article {
  width: 60%;
}

.step article {
  float: left;
  padding: 10px;
  overflow: visible;
}

.step article header {
  text-transform: uppercase;
  color: green;
  margin-bottom: 1em;
}

.withInlineMarkers {
  margin-left: 20px;
}

.withInlineMarkers div:first-child {
  text-align: left;
}

.withInlineMarkers>div>span:first-child {
  float: left;
  min-width: 50%;
  text-align: left;
}

.withInlineMarkers div>span:last-child {
  float: right;
}

.withPercCircles>div {
  width: 50%;
  float: left;
}

.withPercCircles>div>div {
  display: flex;
  justify-content: center;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #dd711c;
  border-radius: 50%;
  margin-right: 3px;
}

.filledDot {
  background-color: rgba(71,182,18,.73);
}

.LineSlideContainer {
  width: 200px;
  height: 15px;
  transform: skew(-50deg);
  position: relative;
  margin-bottom: 5px;
}

.lineSlideMax {
  width: 100%;
  height: 100%;
  background-color: #dd711c;
  opacity: 0.6;
}

.lineSlide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 182, 18, 0.73);
}

.floatLeft {
  width: auto;
}

/*content*/
.descSections div div:first-child{
  text-transform: uppercase;
  text-align: left;
  color: green;
}

.justified {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  line-height: 2.5em;
  vertical-align: middle;
}

.verticalJustified {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px;
}

.verticalAligned {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 420px;
  margin: 80px auto;
}

.withTextImages>div {
  display: inline-flex;
  justify-content: space-between;
  width: 400px;
  line-height: 2.8em;
}

.step .closeEnough {
  justify-content: center;
  width: auto;
}

.imgContainer {
  width: 110px;
}

.textLogo {
  height: 2.3em;
}

.textLogo.react {
  height: 2.9em;
}

.image100 {
  width: 100%;
  box-sizing: border-box;
}

.image80 {
  width: 80%;
}

.impress-enabled .step a>img {
  background-color: inherit;
}

.impress-enabled .step a.transparentImageLink>img:hover {
  box-shadow: rgba(221, 113, 28, 0.2) 0px 0px 10px 2px;
  background-color: rgba(221, 113, 28, 0.1);
}

a img {
  margin-top: 15px;
}

.impress-enabled .step a:focus,
.deviceStep a:focus {
  background: none;
  box-shadow: none;
}

a img:hover {
  box-shadow: rgba(221, 113, 28, 0.5) 4px 4px 20px 2px;
}

.transparent {
  border: none;
  background-color: inherit;
}

.withTimeline {
  height: 400px;
  width: 80%;
}

.withVerticalTimeline {
  margin: 100px auto;
}

.withTimeline>div:last-child {
  margin-left: 80px;
}

.timeline {
  width: 10px;
  height: 130%;
  position: relative;
  justify-content: space-around;
  display: inline-flex;
  flex-direction: column;
}

.verticalTimeline {
  margin-left: 50px;
  margin-right: 70px;
  margin-top: -10%;
  margin-bottom: -10%;
  float: right;
}

.horizontalTimeline {
  transform: rotateZ(90deg);
  margin: -40px;
  height: 160%;
}

[class^="timelineStrip"] {
  background-color: rgb(81, 186, 29);
  width: 100%;
  height: 100%;
  position: absolute;

}

.timelineStrip1 {
  transform: skewY(-50deg);
}

.timelineStrip2 {
  transform: skewY(50deg);
  left: 9px;
}

.timelineMarker {
  margin: 50px 0;
  position: relative;
}

.roundMarker {
  position: absolute;
  z-index: 1;
  width: 19px;
  height: 18px;
  top: 22px;
  background-color: #dd711c;
}

.timelineMarker span {
  position: absolute;
  left: 36px;
  top: -55px;
  font-size: 17px;
}

.horizontalTimeline .timelineMarker span {
  transform: rotateZ(-90deg);
  min-width: 150px;
  top: 0;
  left: -25px;
}

.horizontalTimeline .timelineMarker.outsideMarker span {
  left: -105px;
}

[class^="markerLine"] {
  position: absolute;
  width: 70px;
  height: 10px;
  background-color: rgb(81, 186, 29);
  right: 4px;
  top: 22px;
}

.markerLine1 {
  transform: skewX(-50deg);
}

.markerLine2 {
  transform: skewX(50deg);
  top: 30px;
}

.outsideMarker [class^="markerLine"] {
  right: -70px;
}

.outsideMarker .markerLine1 {
  transform: skewX(50deg);
}

.outsideMarker .markerLine2 {
  transform: skewX(-50deg);
}

.timelineItem {
  position: relative;
}

.green {
  background-color: orange;
}

.red {
  background-color: red;
}

.orange {
  background-color: yellow;
}

li {
  text-align: left;
  text-indent: 2em;
}

.liSign {
  height: 1.2em;
  vertical-align: middle;
}

.pageLink {
  margin-top: 0.5em;
}

.imagesWeb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagesWeb>div,
.imagesWeb>img {
  width: 44%;
  margin: 10px;
  height: 100%;
}

.imagesWeb div div:first-child {
  text-align: center;
}

.gamesImages {
  height: 79%;
  width: 100%;
}

.step.taller {
  width: 700px;
}

.impress-enabled .step.withDemonstrableHeader {
  opacity: 1;
}

.impress-enabled .step.withDemonstrableHeader article {
  opacity: 0.3;
  transition: all 1s;
}

.impress-enabled .step.withDemonstrableHeader.active article {
  opacity: 1;
  transition: all 1s;
}

.impress-enabled .step.theVeryFirst {
  left: -40px;
  opacity: 1;
}

.impress-enabled .step a,
.deviceStep a {
  background-color: inherit;
  color: #ec9046;
  border-radius: 0;
  padding: 0;
  text-decoration: none;
}

a:hover,
.impress-enabled .step a:hover {
  background-color: inherit;
  box-shadow: none;
  color: green;
}

.impress-enabled .step a:focus {
  color: #903f00;
}

.impress-enabled .step a img {
  transition: all .3s;
}

.impress-enabled .step.hiding {
  opacity: 0;
  z-index: -1;
  transition: all 1s;
}

.impress-enabled .step.hiding.active {
  opacity: 1;
  transition: all 1s;
  z-index: 0;
}

.impress-enabled .step.showManySteps.active ~ .hiding {
  opacity: 1;
  transition: all 1s;
}

.impress-enabled .step.showManySteps.active ~ .hiding h1{
  font-size: 4em;
  transition: all 0.8s;
}

.impress-enabled .step.showManySteps.active ~ .hiding.subPage {
  opacity: 0;
  transition: all 1s;
}

.showManySteps {
  min-width: 1000px;
}

.subPageContentContainer {
  opacity: 0;
  transition: all 1s ease-in-out;
  animation: hidingDisplay 0.5s ease-in-out backwards;
}

.step.active .subPageContentContainer {
  opacity: 1;
  transition: all 0.3s;
  animation: subPageAnimation 0.4s ease-in-out;
  transform: translateX(0);
}

.moreLeftMargin {
  margin-left: 10%;
}

#react-impressjs {
  background-image: url(./images/background13.png);
  background-size: cover;
}

.c100 > span {
  color: #dd711c;
}

.step footer {
  font-size: 0.8em;
}

.hint {
  -webkit-animation: fadeOutUp .6s ease forwards;
  animation: fadeOutUp .6s ease forwards;
  color: rgba(30, 30, 30, 0.7);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-shadow: 1px 1px 9px rgba(221, 113, 28, 0.3);
  text-align: center;
  width: 286px;
  min-height: 45px;
  line-height: 24px;
  position: fixed;
  left: 25px;
  bottom: 14%;
  z-index: 9999;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0 8px 8px rgba(0,0,0,.2));
  filter: drop-shadow(0 8px 8px rgba(0,0,0,.2));
  font-weight: 600;
  font-family: Coda;
  box-shadow: 0 0 20px 15px rgba(255, 255, 255, 0.5);
}

/*device*/
.deviceStep {
  width: 100%;
  margin: 0;
  float: left;
}

#background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/background14.png);
  background-size: cover;
  background-position-x: 50%;
}

.deviceStep .subPageContentContainer {
  opacity: 1;
}

.deviceStep section,
.deviceStep>div,
footer.deviceStep>span {
  max-width: 500px;
  margin: 0 auto;
}

.deviceStep>header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 40px);
  border-bottom: none;
  margin-top: -1em;
}

.deviceStep>header>div:last-child {
  border-bottom: 1.5px solid grey;
  padding-bottom: 15px;
}

.deviceStep .verticalJustified {
  min-height: 0;
}

.deviceStep .withMargins div {
  margin-bottom: 1em;
}

.deviceStep .withTextImages>div>* {
  width: 50%;
}

.deviceStep .textLogo.react {
  height: 2.2em;
}

.asideDevice>div {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.asideSection>a {
  display: block;
}

.deviceStep .asideSection * {
  text-align: center;
}

.asideDevice .asideImg {
  width: 30%;
  float: left;
}

.asideDevice .dane {
  width: 65%;
  float: right;
}

.deviceStep a img {
  box-shadow: rgba(201, 119, 8, 0.67) 5px 2px 19px 0px;
  transition: all 0.3s;
}

.deviceStep a img:hover {
  box-shadow: green 5px 2px 19px 0px;
  transition: all 0.3s;
}


.step.deviceStep>section>h1 {
  float: none;
  writing-mode: horizontal-tb;
  transform: rotate(0);
  font-size: 3em;
  height: 100%;
  border-left: none;
  border-bottom: 1.5px solid grey;
  margin-bottom: 0.5em;
}

.step.deviceStep.withBigHeader>section>h1 {
  margin-bottom: 1em;
}

.deviceStep article,
.deviceStep article.closeEnough {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.deviceStep .withTextImages>div {
  width: 100%;
  justify-content: space-around;
  line-height: 2.3em;
}

.deviceStep .imgContainer {
  height: 3em;
}

.deviceStep .withPercCircles>div {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  width: 30%;
}

.deviceStep .withPercCircles>div:nth-child(even) {
  margin-left: 20%;
}

.deviceStep .withPercCircles>div:nth-child(odd) {
  margin-right: 20%;
}

.deviceStep .LineSlideContainer {
  width: 60%;
  margin: 8px 20%;
}

.onlyHeader {
  min-height: 0;
}

.deviceStep .kamilograppLogoLink {
  display: none;
}

.deviceStep .withSpace {
  margin-top: 1em;
}

.deviceStep .moreLeftMargin {
  margin-left: auto;
}

.step.deviceStep.withSubHeader>section>h1 {
  border-bottom: none;
  font-size: 2em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

.deviceStep section.withLeftHeader>article {
  width: 100%;
  margin: 0;
}

.deviceStep .subPageContentContainer {
  transform: translateX(0);
}

.deviceStep section .bold {
  font-weight: normal;
}

.withoutH1>section>h1 {
  display: none;
}

.verticalAligned {
  height: auto;
}

.deviceStep .smaller {
  width: 50%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.devicePresentation {
  background-attachment: fixed;
  background-size: cover;
  float: left;
  text-shadow: 1px 1px #b67319;
  max-width: 100vw;
}

footer.deviceStep {
  padding: 2em 0;
  font-size: 0.9em;
}

footer.deviceStep div {
  max-width: 500px;
  padding: 0 1em;
}

.h640 {
  height: 640px;
}

@media all and (max-width: 900px) {

  footer {
    margin-top: 2em;
    margin-bottom: 30vh;
  }
}

@media all and (max-width: 659px) and (min-width: 50px) {
  .devicePresentation {
    font-size: 0.7em;
  }
  
  .step>header>div:first-child {
    font-size: 2.5em;
  }
  
  .step.deviceStep>section>h1 {
    font-size: 2.5em;
  }
}
